<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p>Olá Dr.(a) Maria Lucia</p>
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="true">
  
 
  <ion-toolbar no-border class="scrollable-segments">
    <ion-segment>
      <ion-button (click)="functionOne()" value="all" checked>Produção Diária</ion-button>
      <ion-button (click)="functionTwo()" value="favorites">Previsão Recebimento</ion-button>
      <ion-button (click)="functionTree()" value="favorites2">Relatórios</ion-button>
    </ion-segment>
  </ion-toolbar>

  

  <ion-grid >
    <ion-row>
      <ion-col size="6">
      
        Produção Diária
        <br>15/01/2020
        <br>SADT
      </ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col>
        <ion-img style="float: right; width: 32px; height: 32px;" src="./assets/icon-filter.png"></ion-img>
      </ion-col>
    </ion-row>




      <ion-row *ngFor="let item of list">
        <ion-col size="1">
          <ion-img style="float: left; width: 18px; height: 18px;" src="./assets/icon-status-1.png"></ion-img>
        </ion-col>
        <ion-col size="3" style="text-align: left;">
         {{item.nome}}
        </ion-col>
        <ion-col size="3">
          {{item.convenio}}
        </ion-col>
        <ion-col size="4"> 
          R${{item.valor}}
        </ion-col>
        <ion-col>
          <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-dotted.png"></ion-img>
        </ion-col>
        <div style=" width: 100%; height: 1px; background: #000;"></div>
      </ion-row>
      
      

  
    

<!-- 
    <ion-row>
      <ion-col>
        <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-status-1.png"></ion-img>
      </ion-col>
      <ion-col size="5">
        Thiago Oliveira
      </ion-col>
      <ion-col>
        Amil
      </ion-col>
      <ion-col>
        R$120,00
      </ion-col>
      <ion-col>
        <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-dotted.png"></ion-img>
      </ion-col>
    </ion-row>
    <div style="width: 100%; height: 1px; background: #000;"></div>




    <ion-row>
      <ion-col>
        <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-status-2.png"></ion-img>
      </ion-col>
      <ion-col size="5">
        Thiago Oliveira
      </ion-col>
      <ion-col>
        Amil
      </ion-col>
      <ion-col>
        R$120,00
      </ion-col>
      <ion-col>
        <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-dotted.png"></ion-img>
      </ion-col>
    </ion-row>
    <div style="width: 100%; height: 1px; background: #000;"></div>





    <ion-row>
      <ion-col>
        <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-status-3.png"></ion-img>
      </ion-col>
      <ion-col size="5">
        Thiago Oliveira
      </ion-col>
      <ion-col>
        Amil
      </ion-col>
      <ion-col>
        R$120,00
      </ion-col>
      <ion-col>
        <ion-img style="float: right; width: 18px; height: 18px;" src="./assets/icon-dotted.png"></ion-img>
      </ion-col>
    </ion-row>
    <div style=" width: 100%; height: 1px; background: #000;"></div> -->

    <div style="margin-top: 90px; float: right; width: 60px; height: 80px;">
      <ion-fab>
        <ion-fab-button>+</ion-fab-button>
      </ion-fab>
    </div>
    

    <div style=" margin-top: 190px; width: 100%; height: 40px;  background: #9e9e9e;">
      <div style="margin-left: 10px; margin-top: 10px;  width: 40%;  float: left; ">
        Atendimentos: 4 
      </div>
      <div style="margin-right: 10px; margin-top: 10px;  width: 40%;  float: right; text-align: right;">
        Total: R$480,0
      </div>
    </div>

  </ion-grid>

 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  

</ion-content>
